# Project gitignore
.luarc.json
after
coc-settings.json
host.json
colors
docs
ftplugin
ginit.vim
#lua/user
neoconf.json
plugin
queries
spell
dotfiles/linux/dconf/user
dotfiles/linux/gh/hosts.yml
dotfiles/linux/simple-update-notifier/githubnext__github-copilot-cli.json

linux/Code/
linux/blender/
linux/configstore/
linux/dpscreenocr/
linux/evolution/
linux/goa-1.0/
linux/godot/
linux/google-chrome/
linux/ibus-mozc-gnome-initial-setup-done
linux/ibus/
linux/mozc/
linux/texturelab/
linux/unity3d/
linux/unityhub/

# Global gitignore
# ----------------

# Mac OS X
.AppleDouble
.DS_Store
.LSOverride
._*

# Windoze
$RECYCLE.BIN/
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# (Neo)Vim
*~
.netrwhist
Session.vim
Sessionx.vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[._]*.un~
tags

# VS Code
.history
.vscode

# JetBrains
.idea
